:root {
  --color-black: #19191a;
  --color-blue: #5f8ee4;
  --color-gray: #e6e6e6;
  --color-red: #e4655f;
  --color-white: #ffffff;

  --border: 1px solid var(--color-black);

  --font-weight-heading: 300;

  --page-max-width: 120rem;
  --page-padding: 2.5rem;
}
